.my-container {
  max-width 800px
  background rgba(255, 255, 255, 0.7)
  // border 1px solid #000
  margin 20px auto
  box-shadow 6px 6px 5px rgba(0, 0, 0, 0.12)
  // height 100%
  // padding 10px
}
@media screen and (min-width 769px) {
  // .my-container {
  // padding 10px
  // }
}