.my-container {
  max-width 800px
  background rgba(255, 255, 255, 0.7)
  // border 1px solid #000
  margin 0 auto
  // height 100%
}
@media screen and (min-width 769px) {
  .my-container {
    // padding 20px 0
  }
}