article {
  margin 20px 0
  display flex
  height 200px
  background rgba(255, 255, 255, 0.7)
  cursor $my-cursor-pointer
  box-sizing border-box
  // padding 20px
  .null {
    text-align center
    line-height 200px
    width 100%
    font-size 20px
  }
  .article-img {
    width 30%
    overflow hidden
    // margin-right 1%
    .el-image {
      width 100%
      height 100%
      object-fit cover
      transition all 0.3s
      // cursor $my-cursor-pointer
      &:hover {
        transform scale(1.15)
      }
      .image-slot {
        height 100%
        width 100%
      }
    }
  }
  .article-message {
    width 68%
    // border 1px solid red
    // margin-left 1%
    position relative
    padding 20px
    -webkit-user-select none
    -ms-user-select none
    -moz-user-select none
    user-select none
    box-sizing border-box
    .article-title {
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      &:hover {
        color #b854d4
        cursor $my-cursor-pointer
      }
    }
    .article-content {
      overflow hidden
      text-overflow ellipsis
      display -webkit-box
      -webkit-line-clamp 2
      -webkit-box-orient vertical
    }
    .more {
      i {
        font-size 30px
      }
    }
    .article-info {
      position absolute
      bottom 10px
      right 0
      left 0
      display flex
      justify-content flex-end
      color #888
      div {
        margin 0 10px
      }
      .category {
        &:hover {
          color #b854d4
        }
      }
    }
  }
}
// 页面低于768px
@media screen and (max-width 768px) {
  article {
    height auto
    // padding-bottom 87%
    display flex
    flex-flow column
    .article-img {
      display none
    }
    .article-message {
      width 100%
      padding-bottom 30%
      padding 0 20px
      .article-title {
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
      }
      .article-content {
        overflow hidden
        text-overflow ellipsis
        display -webkit-box
        -webkit-line-clamp 2
        -webkit-box-orient vertical
      }
      .article-info {
        position relative
        margin-top 20px
      }
    }
  }
}