.category-detail {
  width 100%
  padding 20px
  box-sizing border-box
  // background rgba(255, 255, 255, 0.5)
  -webkit-user-select none
  -moz-user-focus none
  -ms-user-select none
  user-select none
  .title > .cate-name {
    color $baseColor
    font-weight bold
    cursor $my-cursor-pointer
    .iconclose {
      &:hover {
        color #D25D95
      }
    }
  }
}
