$baseColor = #b854d4
$fontColor = #4b4b4b
$secondary-fontColor = #6a6a6a
$sign-fontColor = #909399
$my-cursor-default = url('@/assets/default.cur'), default
$my-cursor-pointer = url('@/assets/pointer.cur'), pointer